:root {
  --bg-color: #134e4a;
  --bg-card: #0f766e;
  --text-color: #f0fdfa;
  --text-muted: #99f6e4;
  --border-color: #115e59;
  --border: 2px solid var(--border-color);
  --accent-1: #14b8a6;
  --accent-2: #2dd4bf;
  --accent-3: #60a5fa;
}

