:root {
  --bg-color: #422006;
  --bg-card: #713f12;
  --text-color: #fefce8;
  --text-muted: #fef08a;
  --border-color: #854d0e;
  --border: 2px solid var(--border-color);
  --accent-1: #eab308;
  --accent-2: #facc15;
  --accent-3: #fb923c;
}

